.konten
{
	padding-left: 3.5cm;
    padding-right: 3.5cm;
    padding-top: 2cm;
    padding-bottom: 4cm;
    border: 0px solid black;
}

.gras_foot
{
    height: 5px;
    border-bottom: 5px solid #003862;
    margin-top: 35px;
}
